body{
    background-image: url("img/grass.jpg");
    background-color: #8c8;
    max-width: 100%;
    width: 1200px;
    text-align: center;
    color: white;
    font-family: Verdana;
    margin: auto;
    text-align: justify;
}
.doboz{
background-color: #08f;
max-width: 970px;
background-image: url("img/splash.png");
background-position: bottom right;
background-repeat: no-repeat;
border-radius: 40px;
margin-top:50px;
margin-bottom: 50px;
padding: 50px;
}
h1:not(#focim){
    text-align: center;
    border-bottom: 2px solid #fff;
}
.doboz:nth-child(odd){margin-left: 150px;}
.doboz:nth-child(even){margin-right: 150px;}
.adat{
    float: right;
    border: 2px solid white;
    background-color: #08f;
    border-radius: 10px;
    margin-left: 15px;
    text-align: left;
    box-shadow: 10px 10px 10px -8px black;
    margin-bottom: 15px;
    
}
table.adat tr td {
    border: 1px solid #08f;
    padding: 5px;
    background-color: white;
    vertical-align: top;
    color: #0e5197;
}
#map{
    width: 25px;
    height: 25px;
}
table.adat tr td:nth-child(1){font-weight: bold;}
table.adat tr td:nth-child(2){width: 210px;}
.fo{
    background-color: #08f;
    max-width: 550px;
    background-image: url("img/splash.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 40px;
    margin-top:50px;
    margin-bottom: 50px;
    padding: 35px; 
    text-align: center;
    margin-left: 150px;
    box-shadow: 1px 4px;
    text-shadow: 4px 2px black;
}

.kiskep{
    display: inline-block;
    width: 140px;
    height: 140px;
    line-height: 136px;
    box-shadow: 10px 10px 10px -8px black;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    text-align: center;
    
}
.kiskep:hover {background-color: yellow;}
 #kep{
    vertical-align: middle;
    max-width: 128px;
    max-height: 128px;
}
.linkek{
    background-color: #09f;
    border-left: 10px double white;
    border-radius: 10px;
    width: 250px;
    padding: 5px 10px;
    text-align: left;
    box-shadow: 10px 10px 10px -8px black;
    
}
.linkek ul li:hover {list-style: url(img/sun.png);}
a{
    text-decoration: none;
    color: inherit;
}











